.body{
    font-family: "Poppins";
}
.container{
    width: 1440px;
    margin-left:  270px;
}
.portfolionav{
    background-color: rgba(27, 28, 55, 1);
    width: 1311px;
    height: 72.11px;
    border-radius: 14px;
}
.logo{
    padding-top: 24px;
    margin-left: 50px;
    p{
        display: flex;
        justify-content: space-between;
        text-align: center;
        margin-top: -30px;
        font-family: "Poppins";
        color: rgba(255, 255, 255, 1);
        font-size: 17.31px;
        margin-left: 40px;

    }
}
.text {
    display: flex; 
    justify-content: space-between; 
    gap: 10px;
    width: 285.35px;
    height: 49.06px;
    margin-top: -70px;
    margin-left: 500px;
}

.text p {
    font-family: "Poppins", sans-serif; 
    color: rgba(255, 255, 255, 1);
    font-size: 17.31px;

  
}
.itext{
    margin-top: 200px;
}
.itextite{
    font-family: "Poppins";
    font-size: 96px;
    line-height: 100.8px;
    width: 648px;
    color: "Negro Lineal";
}
.itext-item{
    font-family: "Poppins";
    font-size: 14px;
    line-height: 21px;
    color: rgba(0, 0, 0, 1);
    width: 326px;
    
}
.icontact{
    width:  240px;
    height: 68px;
    border-radius: 16px;
    background-color: rgba(178, 36, 239, 1);
    border: none;
    margin-top: 30px;
    p{
        font-family: "Poppins";
        font-size: 24px;
        line-height: 36px;
        color: rgba(255, 255, 255, 1);
        width: 158px;
        height: 36px;
        padding-left: 30px;
        margin-top: 15px;
    }
 

 
}
.vectorimg{
    position: absolute;
    margin-top: -55px;
    margin-left: 70px;
    color: rgba(255, 255, 255, 1);
}


.contactme{
    margin-top: -30px;
    width: 174.11px;
    height: 43.31px;
    background-color: rgba(117, 121, 255, 1);
    border: none;
    border-radius: 10px;
    position: absolute;
    margin-left: 1070px;

   p{
    font-family: "Poppins";
    font-size: 17px;
    color: rgba(255, 255, 255, 1);
    margin-top: 10px;
   } 
}
.alluraimg{
   margin-top: -800px;
   margin-left: 500px;
}
.arrowimg{
    margin-top: -100px;
    margin-left: 300px;

}
.highimg{
    margin-left: 320px;
    margin-top: -500px;
    position: absolute;
 }
 .elipseimg{
    position: absolute;
    width: 500px;
    height: 300px;
    margin-top: -550px;
    margin-left: -300px;
    
 }
 .elipimg{
    margin-top: -20px;
    margin-left: 1100px;
    width: 300px;
    height: 200px;
 }
 .patronimg{
    position: absolute;
    margin-top: -120px;
    margin-left: -630px;
 }
 .patron2img{
    position: absolute;
    margin-top: -680px;
    margin-left: 750px;
 }
 .skill{
    font-family: "Poppins";
    font-size: 64px;
    color: rgba(178, 36, 239, 1);
    padding-top: 80px;

 }
.high2{
    position: absolute;
    margin-top: -200px;
    margin-left: 50px;
}
.patron3{
    position: absolute;
    margin-top: -130px;
    margin-left: -100px;
}
.styled_hr {
    margin-left: -10px; 
    width: 1258px;
    border: none; 
    height: 2px; 
    background-color: rgba(237, 238, 255, 1); 
}

.rounds{
    display: flex; 
    justify-content: center; 
    margin-left: -600px;
    margin-top: 50px;
}

.base-image {
    position: relative; 
}

.overlay-image {
    position: absolute;
    margin-left: 20px;
    width: 200px; 
    height: auto;
    z-index: 1;
}
.texts{
    
    h1{
        font-family: "Poppins";
        font-size: 36px;
        text-align: center;
        color: rgba(95, 96, 115, 1);
        margin-top: -130px;
        margin-left: -580px;
    }
   
    p{
        font-family: "Poppins";
        font-size: 24px;
        color: rgba(27, 28, 55, 1);
        margin-left: 370px;
        margin-top: 120px;
    }
}
.rounds2{
    display: flex; 
    justify-content: center;
    margin-left: 100px;
    margin-top: -300px;


}

.base-image2 {
    position: relative; 
}

.overlay-image2 {
    position: absolute;
    margin-left: 20px;
    width: 200px; 
    height: auto;
    z-index: 1;
}
.texts2{
    
    h1{
        font-family: "Poppins";
        font-size: 36px;
        text-align: center;
        color: rgba(95, 96, 115, 1);
        margin-top: -130px;
        margin-left: 120px;
    }
   
    p{
        font-family: "Poppins";
        font-size: 24px;
        color: rgba(27, 28, 55, 1);
        margin-left: 720px;
        margin-top: 120px;
        width: 150px;
    }
}
.rounds3{
    display: flex; 
    justify-content: center;
    margin-left: 780px;
    margin-top: -330px
    


}

.base-image3 {
    position: relative; 
}

.overlay-image3 {
    position: absolute;
    margin-left: 30px;
    width: 190px; 
    height: auto;
    z-index: 1;

}
.texts3{
    
    h1{
        font-family: "Poppins";
        font-size: 36px;
        text-align: center;
        color: rgba(95, 96, 115, 1);
        margin-top: -130px;
        margin-left: 800px;
    }
   
    p{
        font-family: "Poppins";
        font-size: 24px;
        color: rgba(27, 28, 55, 1);
        margin-left: 1060px;
        margin-top: 120px;
        width: 150px;
    }
}
.styled_hr2 {
    margin-left: -10px; 
    width: 1258px;
    border: none; 
    height: 2px; 
    background-color: rgba(237, 238, 255, 1); 
    margin-top: 70px;
}
.paunto{
    margin-top: -80px;
    margin-left: 1270px;
}
.rounds4{
    display: flex; 
    justify-content: center;
    margin-left: -1200px;
    margin-top: 50px;
    


}

.base-image4 {
    position: relative; 
}

.overlay-image4 {
    position: absolute;
    margin-left: 20px;
    width: 200px; 
    height: auto;
    z-index: 1;

}
.texts4{
    
    h1{
        font-family: "Poppins";
        font-size: 36px;
        text-align: center;
        color: rgba(95, 96, 115, 1);
        margin-top: -130px;
        margin-left: -1186px;
    }
   
    p{
        font-family: "Poppins";
        font-size: 24px;
        color: rgba(27, 28, 55, 1);
        margin-left: 55px;
        margin-top: 120px;
        width: 150px;
    }
}
.rounds5{
    display: flex; 
    justify-content: center;
    margin-left: -600px;
    margin-top: -300px;
    


}

.base-image5 {
    position: relative; 
}

.overlay-image5 {
    position: absolute;
    margin-left: 30px;
    width: 190px; 
    height: auto;
    z-index: 1;

}
.texts5{
    
    h1{
        font-family: "Poppins";
        font-size: 36px;
        text-align: center;
        color: rgba(95, 96, 115, 1);
        margin-top: -130px;
        margin-left: -590px;
    }
   
    p{
        font-family: "Poppins";
        font-size: 24px;
        color: rgba(27, 28, 55, 1);
        margin-left: 370px;
        margin-top: 120px;
        width: 150px;
    }
}
.rounds6{
    display: flex; 
    justify-content: center;
    margin-left: 70px;
    margin-top: -300px;
    


}

.base-image6 {
    position: relative; 
}

.overlay-image6 {
    position: absolute;
    margin-left: 30px;
    width: 190px; 
    height: auto;
    z-index: 1;

}

.texts6 h1 {
    font-family: "Poppins";
    font-size: 36px;
    text-align: center;
    color: rgba(95, 96, 115, 1);
    margin-top: -130px;
    margin-left: 80px;
}

.texts6 p {
    font-family: "Poppins";
    font-size: 24px;
    color: rgba(27, 28, 55, 1);
    margin-left: 700px;
    margin-top: 120px;
    width: 200px;
    height: 70px;
}
.rounds7{
    display: flex; 
    justify-content: center;
    margin-left: 750px;
    margin-top: -350px;
    


}

.base-image7 {
    position: relative; 
}

.overlay-image7 {
    position: absolute;
    margin-left: 30px;
    width: 190px; 
    height: auto;
    z-index: 1;

}
.texts7 h1 {
    font-family: "Poppins";
    font-size: 36px;
    text-align: center;
    color: rgba(95, 96, 115, 1);
    margin-top: -130px;
    margin-left: 760px;
}

.texts7 p {
    font-family: "Poppins";
    font-size: 24px;
    color: rgba(27, 28, 55, 1);
    margin-left: 1020px;
    margin-top: 120px;
    width: 200px;
    height: 70px;
}
.pauntoo{
    position: absolute;
    margin-top: -50px;
    margin-left: -100px;
}
.elipse33{
    margin-top: -250px;
    margin-left: -100px;
    width: 288px;
    height: 308px;
}
#aboutme{
    background-image: url('Vector 2.svg');
    width: 1512px;
    height: 1071px;
    margin-left: 150px;
    margin-top: 50px;
}
.aboutpatr{
    position: absolute;
    margin-left: -270px;
    margin-top: 20px;
}
.aboutcards{
    background-color: #FFFFFF;
    margin-left: -150px;
    width:  1258px;
    height: 363px;
    border-radius: 60px;
}
.atitle{
    font-family: "Poppins";
    font-size: 64px;
    color: rgba(255, 255, 255, 1);
    padding-top: 100px;
    margin-left: 350px;
}
.respons{
    img{
        margin-left: 150px;
        margin-top: 50px;
    }
    p{
        font-family: "Poppins";
        font-size: 64px;
        color: rgba(27, 28, 55, 1);
        margin-left: 140px;
        margin-top: 12px;
    }
    h6{
        font-family: "Poppins";
        font-size: 36px;
        color: rgba(95, 96, 115, 1);
        margin-left: 100px;
        margin-top: -60px;
        }
}
.puntual{
    margin-top: -400px;
    margin-left: 820px;
    img{
        margin-left: 150px;
        margin-top: 50px;
    }
    p{
        font-family: "Poppins";
        font-size: 64px;
        color: rgba(27, 28, 55, 1);
        margin-left: 140px;
        margin-top: 12px;
    }
    h6{
        font-family: "Poppins";
        font-size: 36px;
        color: rgba(95, 96, 115, 1);
        margin-left: 130px;
        margin-top: -60px;
        }
}
.patronimgg{
    width: 199.83px;
    height: 95.6px;
    margin-left: 1050px;
    margin-top: 50px;
}
.high1{
    margin-left: 1050px;
}
.ptitles{
    p{
        font-family: "Poppins";
        font-size: 64px;
        color: rgba(178, 36, 239, 1);
        margin-top: -50px;
    }
    img{
        position: absolute;
        margin-top: -70px;
        margin-left: 50px;
    }
}
.styled_hr3{
    margin-left: -10px; 
    width: 1258px;
    border: none; 
    height: 2px; 
    background-color: rgba(237, 238, 255, 1); 
    margin-top: 70px;
}
.pcards{
    position: absolute;
    display: flex;
    gap: 20px;
    margin-top: 30px;
    margin-left: -80px;
}
.portt{
    margin-top: 370px;
    margin-left: -110px;
}
footer{
    background-color: #EDEEFF;
    width: 1514px;
    position: relative;
    height: 171px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    margin-left: 150px;
    margin-top: auto;
    margin-top: 100px;
    }
.iconss{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 295px;
    height: 40px;
    margin-left: 330px;
    padding-top: 50px;
}
.ftext p{
    font-family: "Poppins";
    font-size: 18px;
    color: rgba(95, 96, 115, 1);
    margin-left: 270px;
    line-height: 27px;
    margin-top: 30px;
}
.footimg{
    position: absolute;
    margin-top: -40px;
    margin-left: -270px;
}
.footimg2{
    position: absolute;
    margin-top: -140px;
    margin-left: 1180px;
}


